/* Styl podstawowy */
:root {
    --post-background-color: #f5f5f5;
    --background-color: #e5e5e5;
    --category-hover: #fff;
    --text-color: #000;
    --link-color: #bb00ff;
    --link-hover-color: #0056b3;
    --border-color: #ddd;
    --button-background: #bb00ff;
    --button-hover-background: #d665ff;
    --pagination-current-background: #d8d8d8;
    --pagination-current-color: #7f7f7f;
    --shadow-color: rgba(0, 0, 0, 0.1);
}

/* Styl ciemny */
.dark-mode {
    --post-background-color: #343434;
    --background-color: #28282B;
    --category-hover: #343434;
    --text-color: #fff;
    --link-color: #d665ff;
    --link-hover-color: #ffcb6b;
    --border-color: #ddd;
    --button-background: #bb00ff;
    --button-hover-background: #d665ff;
    --pagination-current-background: #191919;
    --pagination-current-color: #cccccc;
    --shadow-color: rgba(255, 255, 255, 0.2);
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

body.dark-mode {
    background-color: var(--background-color);
    color: var(--text-color);
}

.button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--button-background);
    color: #fff;
    cursor: pointer;
    transition: .2s;
}

.button:hover {
    background-color: var(--button-hover-background);
}

.main-nav {
    margin: 0 auto;
    padding: 10px 20px;
    box-sizing: border-box;
    position: fixed;
    top: -2px;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--background-color);
    box-shadow: 0 0 6px 3px var(--shadow-color);
}

.nav-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.logo-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px 0 0;
    background: transparent;
}

.logo-button:hover{
    background: transparent;
}

.logo-img {
    max-width: 45px;
}

#theme-toggle-btn {
    width: 40px;
    height: 35px;
    padding: 0;
}

#theme-toggle-btn i {
    font-size: 20px;
}

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-form input {
    padding: 9px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    width: 250px;
}

.menu {
    position: fixed;
    top: 60px;
    border: 1px solid var(--border-color);
    padding: 5px 15px;
    border-radius: 5px;
    background-color: var(--background-color);
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-height: 400px;
    overflow-y: auto;
}

.menu h2 {
    font-size: 1em;
    color: var(--text-color);
    text-transform: uppercase;
}

.menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

.menu a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
    border-radius: 5px;
    transition: background-color 0.2s;
    font-size: 0.8em;
    gap: 10px;
    padding: 5px;
}

.menu a:hover {
    background-color: var(--category-hover);
}

.category-image, .menu-image{
    width: 30px;
    height: auto;
}

.menu.hidden {
    display: none;
}

.menu form {
    display: flex;
    flex-direction: column;
}

.menu label {
    color: var(--text-color);
    font-size: .8em;
    margin-bottom: 5px;
}

.menu select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    background-color: var(--post-background-color);
    color: var(--text-color);
    font-size: 0.8em;
    width: 100%;
}

.menu button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: var(--button-background);
    color: white;
    cursor: pointer;
    transition: background-color 0.2s;
    font-size: .8em;
    letter-spacing: .5px;
}

.menu button:hover {
    background-color: var(--button-hover-background);
}

@media (max-width:  700px) {
    .main-nav {
        flex-direction: column;
    }

    .nav-left {
        justify-content: space-between;
        width: 100%;
    }

    .menu {
        position: fixed;
        top: 105px;
        left: 15px;
    }

    .search-form {
        margin-top: 10px;
    }

    .logo-button {
        padding: 0;
    }
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 80px;
}

.blog-posts {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(auto, 1fr);
    gap: 25px;
    box-sizing: border-box;
}

@media (max-width: 1200px) {
    .blog-posts {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 850px) {
    .container {
        margin-top: 120px;
    }

    .blog-posts {
        grid-template-columns: repeat(1, 1fr);
    }
}

.blog-post-link {
    text-decoration: none;
    display: block;
}

.blog-post-link .blog-post {
    border: none;
    box-shadow: 0 0 6px 3px rgba(128, 128, 128, 0.6);
}

.blog-post {
    position: relative;
    padding: 15px;
    border: 1px solid var(--border-color);
    border-radius: 20px;
    background-color: var(--post-background-color);
    background-size: cover;
    background-position: center;
    color: #fff;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: .2s;
}

.blog-post:hover {
    opacity: .7;
}

.blog-post .author {
    font-size: 0.7em;
    color: #fff;
    font-style: italic;
}

.blog-post h2 {
    margin: 0;
    color: #fff;
    text-align: left;
    width: 100%;
    padding: 5px 0;
}

.blog-post .post-meta {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.meta-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.meta-right {
    display: flex;
    flex-direction: column;
    text-align: right;
    font-size: 0.9em;
}

.views-info {
    padding: 5px 3px 0 0;
}

.views-info i {
    margin-right: 5px;
}

.blog-post .category-label, 
.blog-post .new-label, 
.blog-post .trending-label {
    color: #fff;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.8em;
    border: 1px solid #fff;
    margin-bottom: 5px;
    display: inline-block;
    margin-right: 5px;
}

.blog-post .new-label, 
.blog-post .trending-label {
    max-width: 90px;
}

.new-label {
    background-color: #28a745;
}

.trending-label {
    background-color: #dc3545;
}

.date-label {
    font-size: 0.9em;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid #fff;
    display: inline-block;
}

.post-description {
    margin-bottom: 10px;
    font-size: 0.8em
}

.blog-post .post-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
    z-index: -1;
    border-radius: 20px;
}

.pagination {
    margin-top: 45px;
}

.pagination .step-links {
    display: flex;
    justify-content: space-between;
}

.pagination .step-links a,
.pagination .step-links span {
    padding: 10px;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    color: var(--text-color);
    text-decoration: none;
    font-size: .9em;
}

.pagination .step-links a:hover {
    opacity: .8;
}

.pagination .step-links .current {
    background-color: var(--pagination-current-background);
    color: var(--pagination-current-color);
}





.header {
    text-align: center;
    margin: 20px 0;
    border-bottom: 2px solid var(--border-color);
    padding-bottom: 10px;
}

.header h1 {
    font-size: 2.5em;
    margin: 0;
    text-transform: uppercase;
    color: var(--link-color);
    font-weight: bold;
    letter-spacing: 1px;
}

.post-meta {
    text-align: center;
    margin-bottom: 30px;
}

.post-meta p {
    margin: 5px 0;
    font-size: 1em;
    color: var(--text-color);
}

.blog-content {
    line-height: 1.8;
    font-size: 1.1em;
    color: var(--text-color);
    padding: 20px;
    background-color: var(--post-background-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.text-block {
    margin-bottom: 30px;
}

.image-block {
    text-align: center;
    margin-bottom: 30px;
}

.image-block img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .header h1 {
        font-size: 2em;
    }

    .post-meta p {
        font-size: .8em;
    }

    .blog-content {
        font-size: 1em;
    }
}

@media (max-width: 480px) {
    .header h1 {
        font-size: 1.5em;
    }

    .blog-content {
        font-size: 0.9em;
    }
}

.similar-posts {
    margin-top: 50px;
    border-top: 1px solid var(--border-color);
}

.similar-posts h2 {
    font-size: 1.5em;
    margin-bottom: 30px;
    text-align: center;
    color: var(--text-color);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.posts-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.post-item {
    flex: 1 1 calc(25% - 20px);
    max-width: 250px;
    border-radius: 10px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
}

.post-item:hover {
    transform: scale(1.05);
}

.post-link {
    display: block;
    text-decoration: none;
    color: var(--text-color);
    height: 100%;
}

.post-image {
    width: 100%;
    height: 150px;
    background-size: cover;
    background-position: center;
    border-bottom: 2px solid var(--border-color);
    transition: filter 0.3s;
}

.post-item:hover .post-image {
    filter: brightness(70%);
}

.post-content {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90px;
}

.post-content h3 {
    font-size: 1.3em;
    margin: 0 0 5px;
    font-weight: bold;
    color: #000;
}

.post-date {
    font-size: 0.8em;
    color: #000;
    margin: 0 0 5px;
}

@media (max-width: 1200px) {
    .posts-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }

    .post-item {
        flex: 1 1 calc(33.333% - 20px);
    }
}

@media (max-width: 768px) {
    .post-item {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .post-item {
        flex: 1 1 100%;
    }
}


::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}