/* Styl podstawowy */
:root {
    --post-background-color: #f5f5f5;
    --background-color: #e5e5e5;
    --category-hover: #fff;
    --text-color: #000;
    --link-color: #bb00ff;
    --link-hover-color: #0056b3;
    --border-color: #ddd;
    --button-background: #bb00ff;
    --button-hover-background: #d665ff;
    --pagination-current-background: #d8d8d8;
    --pagination-current-color: #7f7f7f;
}

/* Styl ciemny */
.dark-mode {
    --post-background-color: #343434;
    --background-color: #28282B;
    --category-hover: #343434;
    --text-color: #fff;
    --link-color: #d665ff;
    --link-hover-color: #ffcb6b;
    --border-color: #ddd;
    --button-background: #bb00ff;
    --button-hover-background: #d665ff;
    --pagination-current-background: #191919;
    --pagination-current-color: #cccccc;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

body.dark-mode {
    background-color: var(--background-color);
    color: var(--text-color);
}

.button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--button-background);
    color: #fff;
    cursor: pointer;
    transition: .2s;
}

.button:hover {
    background-color: var(--button-hover-background);
}

.main-nav {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    display: flex;
    gap: 4px;
}

.back-button {
    padding: 8px 20px;
}

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.search-form input {
    padding: 9px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    width: 250px;
}

.menu {
    position: fixed;
    top: 80px;
    border: 1px solid var(--border-color);
    padding: 5px 15px;
    border-radius: 5px;
    background-color: var(--background-color);
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-height: 400px;
    overflow-y: auto;
}

.menu h2 {
    font-size: 1em;
    color: var(--text-color);
    text-transform: uppercase;
}

.menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

.menu a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
    border-radius: 5px;
    transition: background-color 0.2s;
    font-size: 0.8em;
    gap: 10px;
    padding: 5px;
}

.menu a:hover {
    background-color: var(--category-hover);
}

.category-image, .menu-image{
    width: 30px;
    height: auto;
}

.menu.hidden {
    display: none;
}

.menu form {
    display: flex;
    flex-direction: column;
}

.menu label {
    color: var(--text-color);
    font-size: .8em;
    margin-bottom: 5px;
}

.menu select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    background-color: var(--post-background-color);
    color: var(--text-color);
    font-size: 0.8em;
    width: 100%;
}

.menu button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: var(--button-background);
    color: white;
    cursor: pointer;
    font-size: .1em;
    transition: background-color 0.2s;
}

.menu button {
    font-size: 0.8em;
}

.menu button:hover {
    background-color: var(--button-hover-background);
}

@media (max-width:  660px) {
    .main-nav {
        flex-direction: column;
        padding: 10px;
    }
    
    .nav-left {
        justify-content: space-between;
        width: 100%;
    }

    .menu {
        position: fixed;
        top: 50px;
        left: 10px;
    }
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
}

.blog-posts {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(auto, 1fr);
    gap: 25px;
    box-sizing: border-box;
}

@media (max-width: 1200px) {
    .blog-posts {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 850px) {
    .blog-posts {
        grid-template-columns: repeat(1, 1fr);
    }
}

.blog-post-link {
    text-decoration: none;
    display: block;
}

.blog-post-link .blog-post {
    border: none;
    box-shadow: 0 0 6px 3px rgba(128, 128, 128, 0.6);
}

.blog-post {
    position: relative;
    padding: 15px;
    border: 1px solid var(--border-color);
    border-radius: 20px;
    background-color: var(--post-background-color);
    background-size: cover;
    background-position: center;
    color: #fff;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: .2s;
}

.blog-post:hover {
    opacity: .7;
}

.blog-post .author {
    font-size: 0.7em;
    color: #fff;
    font-style: italic;
}

.blog-post h2 {
    margin: 0;
    color: #fff;
    text-align: left;
    width: 100%;
    padding: 5px 0;
}

.blog-post .post-meta {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.meta-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.meta-right {
    margin-left: auto;
    font-size: 0.8em;
    color: #fff;
    display: flex;
    align-items: center;
}

.blog-post .category-label, 
.blog-post .new-label, 
.blog-post .trending-label {
    color: #fff;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.8em;
    border: 1px solid #fff;
    margin-bottom: 5px;
    display: inline-block;
    margin-right: 5px;
}

.blog-post .new-label, 
.blog-post .trending-label {
    max-width: 90px;
}

.new-label {
    background-color: #28a745;
}

.trending-label {
    background-color: #dc3545;
}

.date-label {
    font-size: 0.9em;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid #fff;
    display: inline-block;
}

.post-description {
    margin-bottom: 20px;
    font-size: 0.8em
}

.blog-post .post-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
    z-index: -1;
    border-radius: 20px;
}

.pagination {
    margin-top: 50px;
}

.pagination .step-links {
    display: flex;
    justify-content: space-between;
}

.pagination .step-links a,
.pagination .step-links span {
    padding: 10px;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    color: var(--text-color);
    text-decoration: none;
}

.pagination .step-links a:hover {
    opacity: .8;
}

.pagination .step-links .current {
    background-color: var(--pagination-current-background);
    color: var(--pagination-current-color);
}




.header {
    text-align: center; /* Wyśrodkowanie nagłówka */
    margin-bottom: 20px; /* Odstęp poniżej nagłówka */
}

.header h1 {
    font-size: 2em; /* Rozmiar czcionki dla tytułu */
    margin: 0; /* Usunięcie marginesów */
}

/* Styl dla sekcji metadanych posta */
.post-meta {
    text-align: center; /* Wyśrodkowanie tekstu */
    margin-bottom: 20px; /* Odstęp poniżej sekcji */
}

.post-meta p {
    margin: 5px 0; /* Marginesy dla paragrafów */
    font-size: 1em; /* Rozmiar czcionki */
}

/* Styl dla artykułu z treścią bloga */
.blog-content {
    line-height: 1.6; /* Wysokość linii dla lepszej czytelności */
}

/* Styl dla bloków tekstu */
.text-block {
    margin-bottom: 20px; /* Odstęp poniżej bloków tekstu */
}

/* Styl dla bloków z obrazkami */
.image-block {
    text-align: center; /* Wyśrodkowanie obrazków */
    margin-bottom: 20px; /* Odstęp poniżej obrazków */
}

.image-block img {
    max-width: 100%; /* Maksymalna szerokość obrazka */
    height: auto; /* Automatyczna wysokość, aby zachować proporcje */
    border-radius: 5px; /* Zaokrąglenie krawędzi obrazka */
}

/* Responsywność dla mniejszych ekranów */
@media (max-width: 768px) {
    .container, .main-nav {
        padding: 10px; /* Mniejszy padding na mniejszych ekranach */
    }

    .header h1 {
        font-size: 1.5em; /* Mniejszy rozmiar czcionki dla tytułu */
    }

    .post-meta p {
        font-size: 0.9em; /* Mniejszy rozmiar czcionki dla metadanych */
    }
}

@media (max-width: 480px) {
    .header h1 {
        font-size: 1.2em; /* Jeszcze mniejszy rozmiar czcionki dla tytułu */
    }

    .post-meta p {
        font-size: 0.8em; /* Jeszcze mniejszy rozmiar czcionki dla metadanych */
    }
}

::-webkit-scrollbar {
    width: 10px; /* Szerokość scrollbara */
    height: 10px; /* Wysokość poziomego scrollbara */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* Kolor tła scrollbara */
    border-radius: 5px; /* Zaokrąglenie narożników */
}

::-webkit-scrollbar-thumb {
    background: #888; /* Kolor paska przewijania */
    border-radius: 5px; /* Zaokrąglenie narożników */
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* Kolor paska przewijania po najechaniu */
}